<configuration>
    <property name="LOG_PATH" value="logs/payment.log"/>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_PATH}</file>
        <append>false</append>
        <encoder>
            <pattern>%level [%thread] %logger{36}.%M: %msg%n %ex</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d] %level [%thread] %logger{36}.%M: %msg%n %ex{10}</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>